*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.breadcrumb{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* .crumb{
    display: flex;
    flex-direction: row;
    align-items: center;
} */